:root {
  --primary-color: #007bff;
  --background-color: #ffffff;
  --text-color: #000000;
}

.color-blind-theme {
  --primary-color: #ff9900; 
  --background-color: #f5f5f5;
  --text-color: #333333;
}

.high-contrast-theme {
  --background-color: #000;
  --text-color: #fff;
  --card-background-color: #000;
  /* 其他高对比度模式下使用的颜色变量 */
}